alias vim=nvim

alias c="clear"
alias g="git"
alias cdtemp="cd $(mktemp -d)"

alias ll="lsd -lr"
alias la="lsd -lAtr"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Networking
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Docker
alias dip="docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}'"
alias dips="docker ps -q | xargs -n 1 docker inspect --format '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}} {{ .Name }}' | sed 's/ \// /'"
alias dc='docker-compose'

# Java
alias fast="mvn -T0.8C -Dstyle.color=always clean install -DskipTests -Dverification.skip"
alias verify="mvn -T0.8C -Dstyle.color=always clean install -DskipTests"
alias slow="mvn -T0.8C clean install -Dmongodb.local=true -Drabbitmq.local=true"
alias integration="mvn -T0.8C clean install -Pintegration-tests -Dmongodb.local=true -Drabbitmq.local=true"
alias mvn="mvn -Dstyle.color=always"
alias depgraph='mvn com.github.ferstl:depgraph-maven-plugin:aggregate -DcreateImage=true -Dincludes="tech.picnic.finance" && open target/dependency-graph.png'
alias sortpom='mvn com.github.ekryd.sortpom:sortpom-maven-plugin:sort -Dsort.sortDependencies=groupId,artifactId -Dsort.predefinedSortOrder="custom_1" -Dsort.keepBlankLines -Dsort.createBackupFile=false -Dsort.nrOfIndentSpace=4 -Dsort.expandEmptyElements=false'

# Others
alias lamy='ssh -t remarkable "cd ~/RemarkableLamyEraser && ./reinstall.sh"'
