#!/usr/bin/env zsh

export ZSH_COMPDUMP=$HOME/.zsh/cache/.zcompdump-$HOST

export PROJECTS=$HOME/Projects/
export DOTFILES_HOME=$HOME/Projects/personal/dotfiles/dotfiles

# Make nvim the default editor.
export EDITOR="nvim";

# Make go binaries available
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin

# Increase history size. Allow 32³ entries; the default is 500.
HISTFILE=~/.history
HISTSIZE=500000
SAVEHIST=500000
setopt appendhistory
setopt INC_APPEND_HISTORY
setopt SHARE_HISTORY

# The characters which ^-W should stop at
WORDCHARS="*?_-.[]~=&;!#$%^(){}<>"

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Fzf
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_TMUX_OPTS="-p 55%,60%"
export FZF_DEFAULT_OPTS="\
--ansi \
--border rounded \
--color='16,bg+:-1,gutter:-1,prompt:5,pointer:5,marker:6,border:4,label:4,header:italic' \
--marker=' ' \
--no-info \
--no-separator \
--pointer='👉' \
--reverse"

# Vi mode
export ZVM_VI_ESCAPE_BINDKEY='jk'

# SDKMAN
export SDKMAN_DIR="$HOME/.sdkman"
