# Only files that are specific to my setup are listed here.
# The rest should live in project-specific .gitignore files.
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.idea
