"*":
  core:
    projectHome: "/home/robert/Code"
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 15
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "7c0b4466-517f-4b70-a3a1-f949c9fb4195"
  "go-plus": {}
  welcome:
    showOnStartup: false
