# Vim rebind esc to jk
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'j k': 'vim-mode-plus:activate-normal-mode'

'atom-text-editor[mini]':
  'j k': 'core:cancel'

'atom-text-editor:not(mini).autocomplete-active':
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'

'.vim-mode.command-mode:not(.mini)':
  'ctrl-f': 'core:page-down'
  '/': 'find-and-replace:show'

'atom-text-editor.vim-mode-plus':
  'ctrl-c': 'core:copy'

'atom-text-editor[data-grammar="source go"]:not(.mini)':
  "alt-j": "golang:godef"
  "alt-shift-j": "golang:godef-return"

'atom-workspace':
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
